<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="static/knockout-3.0.0.js"></script>
<script type="text/javascript" src="static/swig.min.js"></script>
<script type="text/javascript" src="static/main.js"></script>
</head>
<body>

<div id="header">
    <h1>NTNU-fag</h1>
</div>

<div id="toolbar">
    <span class="toolbar-content">Søk: <input data-bind="value: searchString"/></span>
</div>

<div id="content" data-bind="html: tableHTML">
</div>

</body>
</html>
