<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/bootstrap-multiselect.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="static/knockout.localStorage.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="static/subject_areas.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
    <title>NTNU emnevelger</title>
</head>
<body>

<div id="top-wrapper">

<div class"navbar navbar-fixed-top">
    <div class="container-fluid header">
        <div class="navbar-header">
            <a class="navbar-brand"><strong>NTNU</strong> <em>emnevelger </em></a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="menu">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle bright" data-toggle="dropdown"><i class="fa fa-cog fa-2x"></i></a>
                <ul class="dropdown-menu settings-dropdown">
                    <li class="dropdown-header">Min 1024-timeplan:</li>
                    <li>
                        <input class="form-control" type="text" class="input-block-level" data-bind="value: user1024"/>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header dark">Ved å legge til din 1024-timeplan kan du legge til fag direkte fra emnevelger</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container-custom">
    <div class="form-inline" id="toolbar">
        <input class="form-control" placeholder="Søk" data-bind="value: searchString, valueUpdate: 'afterkeydown'"/>
        <div class="btn-group">
            <select class="multiselect form-control" multiple="multiple" data-bind="selectedOptions: subjectArea, options: subjectAreaOptions, multiselect: multiSelectInitSearchOptions" title="Fagområde"></select>
            <button id="subjectArea-deselect" class="btn btn-default" data-bind="enable: subjectArea().length > 0, click: function() {uncheckEverything('subjectArea')}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <span class="vertical-divider"></span>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="selectedOptions: credit, options: creditOptions, multiselect: multiSelectInitOptions" title="Studiepoeng"></select>
            <button id="credit-deselect" class="btn btn-default" data-bind="enable: credit().length > 0, click: function() {uncheckEverything('credit')}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="selectedOptions: semester, options: semesterOptions, multiselect: multiSelectInitOptions" title="Semester"></select>
            <button id="credit-deselect" class="btn btn-default" data-bind="enable: semester().length > 0, click: function() {uncheckEverything('semester');}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="selectedOptions: location, options: locationOptions, multiselect: multiSelectInitOptions" title="By"></select>
            <button id="credit-deselect" class="btn btn-default" data-bind="enable: location().length > 0, click: function() {uncheckEverything('location');}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="options: studyLevelOptionsProxy, selectedOptions: studyLevel, multiselect: multiSelectInitOptions" title="Nivå"></select>
            <button id="studyLevel-deselect" class="btn btn-default" data-bind="enable: studyLevel().length > 0, click: function() {uncheckEverything('studyLevel')}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <span class="vertical-divider"></span>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="selectedOptions: assessment, options: assessmentOptions, multiselect: multiSelectInitOptions" title="Vurderingsform"></select>
            <button id="assessment-deselect" class="btn btn-default" data-bind="enable: assessment().length > 0, click: function() {uncheckEverything('assessment')}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="selectedOptions: examSupport, options: examSupportOptionsProxy, multiselect: multiSelectInitOptions" title="Hjelpemidler"></select>
            <button id="examSupport-deselect" class="btn btn-default" data-bind="enable: examSupport().length > 0, click: function() {uncheckEverything('examSupport')}"><i class="fa fa-times text-danger"></i></button>
        </div>
        <div class="btn-group">
            <select class="form-control multiselect" multiple="multiple" data-bind="selectedOptions: mandatoryActivities, options: mandatoryActivitiesOptions, multiselect: multiSelectInitOptions" title="Oblig. arbeid"></select>
            <button id="mandatoryActivities-deselect" class="btn btn-default" data-bind="enable: mandatoryActivities().length > 0, click: function() {uncheckEverything('mandatoryActivities')}" ><i class="fa fa-times text-danger"></i></button>
        </div>
    </div>
</div>

<div class="container-custom" id="table-wrapper">
<table id="main-table" class="table table-hover table-condensed">
    <thead data-bind="visible: courses().length > 0 && loaded">
        <tr class="table-header">
            <th><span class="clickable-header" id="header-code" data-bind="click: onHeaderClick">Kode <i class="fa fa-sort"></i></span></th>
            <th><span class="clickable-header" id="header-credit" data-bind="click: onHeaderClick" title="Studiepoeng">SP <i class="fa fa-sort"></i></span></th>
            <th><span class="clickable-header" id="header-name" data-bind="click: onHeaderClick">Navn <i class="fa fa-sort"></i></span></th>
            <th><span id="header-location">By</span></th>
            <th><span id="header-semester">Undervisningssemester</span></th>
            <th><span id="header-language">Språk</span></th>
            <th><span id="header-mandatory">Oblig. arbeid</span></th>
            <th><span id="header-grading">Vurderingsform</span></th>
            <th><span id="header-grading" title="Hjelpemiddelkode">HK</span></th>
            <th><span id="header-level">Fagansvarlig</span></th>
            <th><span id="header-level">Eksamensdato</span></th>
            <th><span id="header-level">Nivå</span></th>
            <th><span id="header-moreinfo"></span></th>
            <th><span id="header-timetable"></span></th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: courses -->
        <!-- ko if: $parent.valSemester($data) && $parent.loaded -->
        <tr id="row-{{ course.code }}">
            <td data-bind="text: code"></td>
            <td data-bind="text: credit"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: $parent.valLocation($data)"></td>
            <td data-bind="text: $parent.valSemester($data)"></td>
            <td data-bind="text: $parent.valLanguage($data)"></td>
            <td data-bind="text: $parent.valMandatoryActivity($data, true), attr: {title: $parent.valMandatoryActivity($data, false)}"></td>
            <td data-bind="text: $parent.valAssessment($data, true), attr: {title: $parent.valAssessment($data, false)}"></td>
            <td data-bind="text: $parent.valExamSupport($data), attr: {title: $parent.valExamSupportDescription($data)}"></td>
            <td data-bind="text: $parent.valLecturer($data)"></td>
            <td data-bind="text: $parent.valExamDate($data)"></td>
            <td><span data-bind="html: $parent.valStudyLevelShortname($data), attr: {title: studyLevelName, class: 'circle level' + studyLevelCode}"></span></td>
            <td class="td-url"><a target="_blank" data-bind="attr: {href: 'http://www.ntnu.no/studier/emner/' + code}"><i class="fa fa-external-link"></i></a></td>
            <td class="td-url"><a target="_blank" data-bind="click: $parent.addOrRemoveFromSchedule">
                <i class="fa fa-calendar"></i>
                <!-- ko ifnot: $parent.courseIsChosen(code) -->
                <i class="fa fa-plus"></i>
                <!-- /ko -->
                <!-- ko if: $parent.courseIsChosen(code) -->
                <i class="fa fa-minus"></i>
                <!-- /ko -->
            </a></td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: courses().length == 0 && loaded() -->
        <tr id="no-results-row">
            <td colspan=13>
                <p class="unicode-face">&#9785;</p>
                <p>Dessverre, ingen resultater.</p>
            </td>
        </tr>
        <!-- /ko -->
        <!-- ko if: !loaded() -->
        <tr id="no-results-row">
            <td colspan=13><p><i class="fa fa-spinner fa-3x rotate"></i></p></td>
        </tr>
        <!-- /ko -->
        <tr id="seemore-row" data-bind="click: onMoreClick, visible: courses().length % 50 == 0 && courses().length > 0 && loaded() && !clickedMore()">
            <td colspan=13><p id="seemore-text">Se flere emner</p></td>
        </tr>
        <tr id="seemore-row" class="inactive" data-bind="visible: courses().length % 50 == 0 && courses().length > 0 && loaded() && clickedMore()">
            <td colspan=13><p id="seemore-text"><i class="fa fa-spinner rotate"></i></p></td>
        </tr>
    </tbody>
</table>
</div>

</div>

<div id="footer-wrapper" class="container-custom">
    <div id="footer">
        <p><em>NTNU emnevelger</em> er ikke tilknyttet NTNU. Dataen som benyttes er hentet fra <a href="http://www.ime.ntnu.no/api/">IMEs emne-API</a>. Det garanteres på ingen måte at informasjonen på siden er korrekt.</p>
        <span id="footer-right">
            <p>Feil? Bugs? Ta kontakt.</p>
            <a class="imglink" href="mailto:trygvwii@stud.ntnu.no"><i class="fa fa-envelope-o fa-2x"></i></a>
            <!--<a class="imglink" href="blank"><i class="fa fa-facebook-square fa-2x"></i></a>-->
        </span>
    </div>
</div>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57227408-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
