@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Cousine);

html, body {
    height: 100%;
}

div#top-wrapper {
    min-height: 100%;
}

div#table-wrapper {
    overflow: auto;
    padding-bottom: 50px;
}

div.header {
    background-color: rgb(0, 50, 88);
}

div#toolbar {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    /*background-color: #dfdfdf;*/
    background-color: #eee;
}

.form-control, .btn {
    border-radius: 2px;
}

button.multiselect {
    border-radius: 2px !important;
}

a.navbar-brand {
    font-weight: 400;
    font-size: 1.5em;
    font-family: "Bitter", "Helvetica", "Arial", sans-serif;
    color: #eaeaea;
    text-shadow: 0 3px 0 rgba(0,0,0,.25);
}

a.navbar-brand strong {
    letter-spacing: 1px;
}

.table {
    /*margin-bottom: 10px;*/
    margin-bottom: 0px;
}

tr.table-header {
    /*background-color: #dfdfdf;*/
    background-color: #eee;
}

tr.table-header > th {
    padding-top: 0px !important;
}

span.clickable-header {
    cursor: pointer;
}

tr#seemore-row {
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}

tr#seemore-row.inactive {
    cursor: default;
}

p#seemore-text {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0 10px 0;
}

tr#no-results-row:hover td {
    background-color: inherit;
}

tr#no-results-row p {
    font-size: 2em;
    text-align: center;
}

tr#no-results-row p:first-child {
    margin-top: 80px;
}

tr#no-results-row p.unicode-face {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-size: 12em;
    line-height: 0.8em;
}

th {
    border-bottom-color: rgb(210, 210, 210) !important;
    border-bottom: none !important;
}

td:first-child, th:first-child {
    padding-left: 10px !important;
}

td:last-child, th:last-child {
    padding-right: 10px !important;
}

td.td-url {
    text-align: center;
}

/* Semester colours */

td.fall {
    background-color: #EBDF02;
}

td.spring {
    background-color: #88E014;
}

/* Circles around letters/numbers */

.circle {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #aaa;
    font-family: "Cousine", "Courier New", "Courier", monospace;
}

td > span.level500 {
    background-color: #b4d8e7;
}

td > span.level100 {
    background-color: #ffeeee;
}

td > span.level200 {
    background-color: #ffcece;
}

td > span.level300 {
    background-color: #ffaeae;
}

.container-custom {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

div#footer-wrapper {
    margin-top: -50px;
    clear: both;
}

div#footer {
    background-color: rgb(0, 50, 88);
    padding: 15px 25px 5px 30px;
    color: #eaeaea;
}

div#footer p {
    display: inline-block;
}

span#footer-right {
    float: right;
    margin-top: -4px;
}

span#footer-right i {
    padding-left: 10px;
}

span#footer-right a:link {
    color: inherit;
}

span.vertical-divider {
    margin: 0 10px 0 5px;
}

ul.multiselect-container div.input-group {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul.multiselect-container a {
    padding-left: 10px;
}

ul.multiselect-container label {
    /*padding-left: 5px !important; */
    width: 100%;
}

/* Animations */
@-webkit-keyframes rotateThis {
    from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
    to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

@-ms-keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-moz-keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

.rotate {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: rotateThis;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -moz-animation-name: rotateThis;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotateThis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}