<table id="main-table">
    <tr class="table-header">
        <th>Kode</th>
        <th>Navn</th>
        <th>Semester</th>
        <th>Språk</th>
        <th>Obligatorisk arbeid</th>
        <th>Vurderingsform</th>
        <th>SP</th>
        <th></th>
        <th></th>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.code }}</td>
        <td>{{ course.name }}</td>
        <td>{% if course.taughtInAutumn %}
                {% if course.taughtInSpring %}
                    Begge
                {% else %}
                    Høst
                {% endif %}
            {% elif course.taughtInSpring %}
                Vår
            {% else %}
                ?
            {% endif %}</td>
        <td>{% if course.taughtInEnglish %}Engelsk{% else %}Norsk{% endif %}
        <td>{% if course.mandatoryActivity %}Ja{% else %}Nei{% endif %}</td>
        <td>{{ course.assessment[0].codeName }}</td>
        <td>{% filter replace('\.', ',', 'g') %}{{ course.credit }}{% endfilter %}</td>
        <td class="td-url"><a href="http://www.ntnu.no/studier/emner/{{ course.code }}"><i class="fa fa-external-link"></i></a></td>
        <td class="td-url"><a href="http://www.ntnu.no/studier/emner/{{ course.code }}#tab=timeplan"><i class="fa fa-calendar"></i></a></td>
    </tr>
    {% endfor %}
</table>
